.drawer {
  border-right: 1px solid var(--color-medium);
  width: var(--drawer-width);
  max-width: 90%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: var(--color-bg);
  z-index: 1;

  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  transform: translate3d(0, 0, 0);
  transition: all var(--anim-time);
}

.drawer.hidden {
  transform: translate3d(-100%, 0, 0)
}

@media screen and (min-width: 900px) {
  .drawer {
    position: static;
  }
  .drawer.hidden {
    transform: translate3d(0, 0, 0);
  }
}
